<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>error</title>
</head>
<body class="error_body">

    <p class="error_message">Invalid equation. go to <a href="/">Home</a> and check your equation again. </p>
    <br><br><br>
    <p class="suggest_message">NB. [You must have to keep 0 in the right side of the equation always. And just write the left side of the equation here.
        We do not accept equal sign. Don't forget to use bracket() correctly. click <a href="/">here</a> to try again with a correct equation.]</p>
</body>
</html>

